.filterHeading {
	background: white;
	width: 100%;
	text-align: center;
	// height: 76vh;
}
span {
	border-bottom: 1px solid black;
}
// .filterButton {
// 	width: 20vw;
// }

.filterContainer {
	background: white;
	width: 100%;
	height: fit-content;
	margin: 0 2% 2% 2%;
}

h3 {
	margin: 5px;
}
